@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==========================
   Travio Specilas Cards
   ========================== */
.travio-specilas-cards .travio-single-card {
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.08);
}
.travio-specilas-cards .travio-single-card .card-img {
  position: relative;
}
.travio-specilas-cards .travio-single-card .card-img .img-bottom-icon {
  position: absolute;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #fff;
  text-align: center;
  border-radius: 50%;
  font-size: 40px;
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.06);
  color: #ff7c5b;
}
.beautiful-single-card {
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.05);
}
/* ========================
   Tmp Btn Primary
   ======================== */
.tmp-btn-primary {
  padding: 10px 20px;
  border: 1px solid rgba(66, 60, 60, 0.582);
  border-radius: 5px;
  margin-top: 15px;
  transition: all 0.4s ease;
  font-size: 16px;
  font-weight: 600;
}
.tmp-btn-primary:hover {
  background: #ff7c5b;
  color: white;
  border: 1px solid white;
}
/* ========================
   Testimonial
   ======================== */
.testimonial-single-card {
  position: relative;
  display: block;
  background: #ffffff;
  padding: 48px 30px 71px 30px;
  border-radius: 10px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}
.testimonial-single-card .testimonial-user-img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -47px;
  width: 95px;
  height: 95px;
  background: #ffffff;
  padding: 7px;
  border-radius: 100%;
  box-shadow: 0px 20px 40px 0px rgba(6, 26, 58, 0.2);
}
